<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Admin</h1>
    <h3>You can delete, add, edit users</h3>

      <div class="card form-section">
        <div class="card-body">
            <h2 class="card-title">Add User</h2>
            <form action="/admin/add-user" method="POST">
                <div class="form-group">
                    Username: <input type="text" class="form-control" name="username" required>
                </div>
                <div class="form-group">
                    Email: <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    Password: <input type="password" class="form-control" name="password" required>
                </div>  
                <button type="submit" class="btn btn-primary">Add User</button>
            </form>
        </div>
    </div>


    <div class="card form-section">
        <div class="card-body">
            <h2 class="card-title">Users List</h2>
            <ul class="list-group list-group-flush">
                <% users.forEach(function(user) { %>
                    <div class="user-card">
                      <form action="/admin/edit-user/<%= user._id %>" method="PUT">
                        <input type="text" name="username" value="<%= user.username %>" class="username">
                        <input type="email" name="email" value="<%= user.email %>" class="email">
                        <textarea name="about" class="about"><%= user.about %></textarea>
                        <button type="submit" class="btn btn-primary">Edit</button>
                      </form>
                      <form action="/admin/delete-user/<%= user._id %>" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  <% }); %>
            </ul>
        </div>
    </div>

    <form action="/admin/items" method="post">
        <div class="form-group">
            <label for="nameEn">Name (EN):</label>
            <input type="text" id="nameEn" name="nameEn" required>
        </div>
        <div class="form-group">
            <label for="nameOther">Name (Other Language):</label>
            <input type="text" id="nameOther" name="nameOther" required>
        </div>
        <div class="form-group">
            <label for="descriptionEn">Description (EN):</label>
            <textarea id="descriptionEn" name="descriptionEn" required></textarea>
        </div>
        <div class="form-group">
            <label for="descriptionOther">Description (Other Language):</label>
            <textarea id="descriptionOther" name="descriptionOther" required></textarea>
        </div>
        <div class="form-group">
            <label for="image1">Image link(jpg format) 1:</label>
            <input type="url" id="image1" name="image1" required>
        </div>
        <div class="form-group">
            <label for="image2">Image link(jpg format) 2:</label>
            <input type="url" id="image2" name="image2" required>
        </div>
        <div class="form-group">
            <label for="image3">Image link(jpg format) 3:</label>
            <input type="url" id="image3" name="image3" required>
        </div>
        <button type="submit">Add element</button>
    </form>

      
      
</body>
</html>
