<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime</title>
    <link rel="stylesheet" href="/css/anime.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Anime</h1>
    <p>There are most popular anime and their description</p>
    
    <% animes.forEach(anime => { %>
        <div class="anime-card">
            <img src="<%= anime.images.jpg.image_url %>" alt="<%= anime.title %>">
            <h3><%= anime.title %></h3>
            <p><%= anime.synopsis %></p>
        </div>
    <% }) %>
</body>
</html>
