<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h2>Hello, <%= user.username %>!</h2>
    <h2>Ur email: <%= user.email %></h2>
    <form action="/update-about" method="post">
        <h3>About u and ur favorite animes:</h3>
        <textarea name="about" rows="4" cols="50"><%= user.about %></textarea>
        <button type="submit">Save</button>
    </form>
      
    <% items.forEach(function(item) { %>
        <div class="item-block">
            <div class="carousel">
                <img src="<%= item.images[0] %>" alt="Image 1">
                <img src="<%= item.images[1] %>" alt="Image 2">
                <img src="<%= item.images[2] %>" alt="Image 3">
            </div>
            <h2><%= item.names.en %> / <%= item.names.other %></h2>
            <p><%= item.descriptions.en %></p>
            <p><%= item.descriptions.other %></p>
        </div>
    <% }); %>


</body>
</html>
